@model GameModel
<div game>

	<div id="song-element">
		@if (Model.CurrentSong.Album.Images.Any())
		{
			<img width="300" height="300" src="@Model.CurrentSong.Album.Images[0].Url">
		}

		<button id="togglePlay">Toggle Play</button>

	</div>

	<form method="post" asp-page-handler="Guess" id="guessForm">
		<div>
			<input id="autoCompleteSong" class="autoCompleteField" type="text" name="guess" />
			<input id="autoCompleteArtist" class="autoCompleteField" type="text" name="guess" />
			<input type="submit" value="Guess" />
			<button onclick="increaseTime()">Skip</button>
		</div>
		<div id="autoComplete" class="autoComplete"></div>
	</form>
</div>

<script type="text/javascript">
	var timeProvided = 1000
	var pauseTimeout

	player.addListener('player_state_changed', (state) => {
		console.log(state)

		if (state && state.paused == false) {
			clearTimeout(pauseTimeout)
			pauseTimeout = setTimeout(() => player.pause(), Math.max(0, timeProvided - state.position));
		}
	})

	$.ajaxSetup({
		'headers': {
			'RequestVerificationToken': $('meta[name = "__RequestVerificationToken"]').val(),
		}
	}
	);

	document.getElementById('togglePlay').onclick = function () {

		player.getCurrentState().then(state => {
			console.log(state)
			if (state && !state.paused) {
				player.pause()
			} else {
				$.ajax({
					url: '/Game?handler=PlayTrack',
					data: { "timeout": timeProvided },
					type: "POST",
					success: function (data) {
						console.log(data)
					},
					error: function (response) {
						console.log(response);
					}
				});
			}
		})
	};

	//setup before functions
	var typingTimer;                //timer identifier
	var doneTypingInterval = 750;  //time in ms

	//on keyup, start the countdown
	$('.autoCompleteField').keyup(function () {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(autoCompleteSearch, doneTypingInterval);
	});

	function autoCompleteSearch() {
		let songGuess = $(autoCompleteSong)[0].value
		let artistGuess = $(autoCompleteArtist)[0].value

		$.ajax({
			url: '/Game?handler=AutoComplete',
			data: { "songName": songGuess, "artistName": artistGuess },
			type: "POST",
			success: function (data) {
				console.log(data);
				showResults(data)
			},
			error: function (response) {
				console.log(response);
			}
		});
	}

	function showResults(data) {
		res = document.getElementById("autoComplete");
		let table = document.createElement("table");

		for (i = 0; i < data.length; i++) {
			var row = document.createElement("tr");

			// add image
			var image = document.createElement("img");
			image.src = data[i].album.images[data[i].album.images.length - 1].url
			row.appendChild(image);

			// Add title
			var trackName = document.createElement("td");
			trackName.innerText = data[i].name
			row.appendChild(trackName);

			// Add artists
			var artists = document.createElement("td");
			artists.innerText = data[i].artists.map(artist => artist.name).join(' & ')
			row.appendChild(artists);

			table.appendChild(row);

			//table += `<tr><td>\
			//		<img src= + data[i].album.images[data[i].album.images.length - 1].url>
			//		data[i].name + data[i].artists.map(artist => artist.name).join(' & ')
			//	</td></tr>`;
		}
		res.replaceChildren(table);
		return true;
	}

	$("#guessForm").submit(function (e) {

		e.preventDefault(); // avoid to execute the actual submit of the form.

		var form = $(this);
		var actionUrl = form.attr('action');

		$.ajax({
			type: "POST",
			url: actionUrl,
			data: form.serialize(), // serializes the form's elements.
			success: function (data) {
				let guessMessage = document.getElementById("guessMessage")
				if (data) {
					console.log("correct song")
					getNewSong()
					timeProvided = 1000
					guessMessage.textContent = "Correct Guess"
				} else {
					console.log("Incorrect guess")
					increaseTime()
					guessMessage.textContent = `Incorrect Guess. Time provieded increased to: ${timeProvided}`
				}
				//alert(data); // show response from the php script.
			}
		});


	});

	function getNewSong() {
		$('#song-element').load('/Game?handler=NextSong')
		return true;
	}

	function increaseTime() {
		timeProvided = timeProvided * 2
		guessMessage.textContent = `Time provieded increased to: ${timeProvided}`
	}
</script>