@model GameModel
@{var guesses = 6;}

<table class="table">
	<thead>
		<tr>
			<th>Guess</th>
			<th>Song</th>
			<th>Artists</th>
			<th>Time (Sec)</th>
		</tr>
	</thead>
	@for (int i = 1; i <= guesses; i++)
	{
		<tr id="guess@(i)Row">
			<td>Guess @i</td>
			<td id="guess@(i)Song"></td>
			<td id="guess@(i)Artist"></td>
			<td>@(Math.Pow(2, i-1))</td>
		</tr>
	}
</table>
<button id="togglePlay" type="button" class="btn bg-dark rounded-circle">
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-play" viewBox="0 3 14 14">
		<path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"></path>
	</svg>
</button>

<form method="post" asp-page-handler="Guess" id="guessForm">
	<div>
		<input id="autoCompleteSong" class="autoCompleteField" type="text" placeholder="Song name" />
		<input id="autoCompleteArtist" class="autoCompleteField" type="text" placeholder="Artist name" />
		<input hidden id="songIdGuess" name="songIdGuess" />
		<input type="submit" value="Guess" />
	</div>
</form>
<button onclick="skipGuess()">Skip</button>
<div id="autoComplete" class="autoComplete"></div>
<div id="trackModal" class="modal" tabindex="-1" role="dialog"></div>

<script type="text/javascript">
	var timeProvided = 1000
	var guesses = @guesses
	var pauseTimeout

	player.addListener('player_state_changed', (state) => {
		console.log(state)

		if (state && state.paused == false) {
			clearTimeout(pauseTimeout)
			pauseTimeout = setTimeout(() => player.pause(), Math.max(0, timeProvided - state.position));
		}
	})

	$.ajaxSetup({
		'headers': {
			'RequestVerificationToken': $('meta[name = "__RequestVerificationToken"]').val(),
		}
	}
	);

	document.getElementById('togglePlay').onclick = function () {
		player.getCurrentState().then(state => {
			console.log(state)
			if (state && !state.paused) {
				player.pause()
			} else {
				$.ajax({
					url: '/Game?handler=PlayTrack',
					data: { "timeout": timeProvided },
					type: "POST",
					error: function (response) {
						console.log(response);
					}
				});
			}
		})
	};

	//setup before functions
	var typingTimer;                //timer identifier
	var doneTypingInterval = 750;  //time in ms

	//on keyup, start the countdown
	$('.autoCompleteField').keyup(function () {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(autoCompleteSearch, doneTypingInterval);
	});

	function autoCompleteSearch() {
		let songGuess = $(autoCompleteSong)[0].value
		let artistGuess = $(autoCompleteArtist)[0].value
		if (songGuess.length >= 3 || artistGuess.length >= 3) {
			$.ajax({
				url: '/Game?handler=AutoComplete',
				data: { "songName": songGuess, "artistName": artistGuess },
				type: "POST",
				success: function (data) {
					showResults(data)
				},
				error: function (response) {
					console.log(response);
				}
			});
		}
	}

	function showResults(data) {
		res = document.getElementById("autoComplete");
		let table = document.createElement("table");

		data.forEach(item => {
			var row = document.createElement("tr");

			// add image
			var image = document.createElement("img");
			image.src = item.album.images[item.album.images.length - 1].url
			row.appendChild(image);

			// Add title
			var trackName = document.createElement("td");
			trackName.innerText = item.name
			row.appendChild(trackName);

			// Add artists
			var artists = document.createElement("td");
			artists.innerText = item.artists.map(artist => artist.name).join(' & ')
			row.appendChild(artists);

			row.onclick = function() { selectSong(item) } 

			table.appendChild(row);

		})

		res.replaceChildren(table);
		return true;
	}

	function selectSong(item) {
		console.log(item) 
		$(songIdGuess)[0].value = item.id
		$(autoCompleteSong)[0].value = item.name
		$(autoCompleteArtist)[0].value = item.artists.map(artist => artist.name).join(', ')
	}

	$("#guessForm").submit(function (e) {

		e.preventDefault(); // avoid to execute the actual submit of the form.

		var form = $(this);
		var actionUrl = form.attr('action');

		$.ajax({
			type: "POST",
			url: actionUrl,
			data: form.serialize(), // serializes the form's elements.
			success: function (data) {
				let guessMessage = document.getElementById("guessMessage")
				if (data) {
					console.log("correct song")
					endGame(true)
					guessMessage.textContent = "Correct Guess"
				} else {
					var x = "guess" + (Math.log2(timeProvided/1000) + 1)
					document.getElementById(x + "Song").textContent = document.getElementById('autoCompleteSong').value
					document.getElementById(x + "Artist").textContent = document.getElementById('autoCompleteArtist').value
					console.log("Incorrect guess")
					increaseTime()
					guessMessage.textContent = `Incorrect Guess. Time provieded increased to: ${timeProvided}`
				}
			}
		});
	});

	function skipGuess() {
		var x = "guess" + (Math.log2(timeProvided / 1000) + 1)
		document.getElementById(x + "Song").textContent = "Skipped"
		document.getElementById(x + "Artist").textContent = "Skipped"
		increaseTime()
		guessMessage.textContent = `Time provieded increased to: ${timeProvided}`
	}

	function increaseTime() {
		timeProvided = timeProvided * 2
		if ((Math.log2(timeProvided / 1000) + 1) > guesses) {
			endGame(false)
		}
	}

	function endGame(correctGuess) {
		timeProvided = 1000

		$('#trackModal').load(
			'/Game?handler=EndGame', 
			{ "correctGuess": correctGuess, "attempts": (Math.log2(timeProvided / 1000) + 1) },
			function() {
				$('#trackModal').modal('show')
			}
		)
	}
</script>